
header {
	text-align: center;
	color: white;
}
a {
	color: rgba(251, 0, 125, 1);
	font-family: comic Sans MS, Impact, Verdana, Arial;
	font-size: 22px;
}
ul {
	padding: 0px 25px 0px 25px;
	background: rgba(0, 0, 0, 0.2);
	font-family: comic Sans MS, Impact, Verdana, Arial;
}
li {
	display: inline;
	padding: 0px 50px 0px 50px;
}
body {
	background: url("http://imgur.com/m5JdqYQ.jpg");
	background-size: cover;
	background-position: center;
	font-family: comic Sans MS, Impact, Verdana, Arial;
}
h1{
	font-size: 100px;
	color: rgba(230, 201, 100, 0.7);
	font-family: "Londrina Shadow", comic Sans MS;
	padding: 5px;
}
article {
	font-family: "Londrina Shadow", cursive;
	font-size: 50px;
	color: rgba(32, 247, 9, 0.7);
	text-align: center;
	padding: 200px 250px 0px 0px;
}
img {
	float: left;
	padding: 0px 0px 50px 100px;
}